:root {
  --header-text-color: white;
  --header-text-font-size: 1.125em; /* 18px */
  --header-text-line-height: 1.333em; /* 24px */
  --text-color: #7b7c7e;
  --text-font-size: 0.875em; /* 14px */
  --text-line-height: 2.285em; /* 32px */
  --text-important-color: #3f3f3f;
  --text-important-font-size: 1.125em; /* 18px */
  --text-important-line-height: 1.333em; /* 24px */
  --text-our-domain-content-font-size: 0.875em; /* 14px */
  --text-our-domain-content-line-height: 1.286em; /* 18px */
  --text-contact-title-font-size: 1.25em; /* 20px */
  --text-contact-title-line-height: 1.4em; /* 28px */
  --text-contact-title-color: #30230a;
  --text-contact-content-font-size: 1em; /* 20px */
  --text-contact-content-line-height: 2em; /* 28px */
  --text-contact-content-color: #463a23;
  --text-contact-disclaimer-font-size: 0.75em; /* 12px */
  --text-contact-disclaimer-line-height: 1.5em; /* 18px */
  --text-contact-disclaimer-color: #3f3f3f;
  --h1-font-size: 2em; /* 32px */
  --h1-line-height: 1.125em; /* 36px */
  --h1-border-color: #404554;
  --h2-color: #3f3f3f;
  --h2-font-size: 2.25em; /* 36px */
  --h2-line-height: 1.167em; /* 42px */
}

/*
  GLOBALS
*/
body {
  font-family: "Helvetica";
  font-size: 100%;
  text-align: left;
}

section {
  margin-top: 2rem;
}

figure {
  margin: 0;
}

h1 {
  font-size: var(--h1-font-size);
  line-height: var(--h1-line-height);
  text-align: center;
}

h2 {
  color: var(--h2-color);
  font-size: var(--h2-font-size);
  line-height: var(--h2-line-height);
  margin: 0.5em 0;
}

h3 {
  color: var(--text-important-color);
  font-size: var(--text-important-font-size);
  line-height: var(--text-important-line-height);
  margin: 0;
}

p {
  color: var(--text-color);
  font-size: var(--text-font-size);
  line-height: var(--text-line-height);
}

a {
  color: var(--text-color);
  display: block;
}

/*
  UTILITY
*/

.flex-container {
  display: flex;
  flex-flow: column nowrap;
}

.padded-wrapper {
  padding: 0 1.5rem;
}

/* partial-border */
#location::before,
#about-us::before,
#our-team::before,
#our-domain::before {
  content: "";
  display: block;
  width: 60%;
  padding-top: 20px;
  border-bottom: 4px solid var(--h1-border-color);
}

/*
  HEADER
*/
header {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 0 1.5em;
  background: url(../img/hero.png) no-repeat center;
  background-size: cover;
  color: var(--header-text-color);
}

header > nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  height: 10vh;
}

header > nav > .logo {
  align-self: flex-end;
  width: 60px;
  height: auto;
  z-index: 1;
  color: white;
}

header > nav > .languages.flex-container {
  flex-flow: row nowrap;
  align-items: flex-end;
  font-size: var(--text-font-size);
  line-height: var(--text-line-height);
  visibility: hidden; /* REMOVE LATER */
}

header > nav > .languages div {
  padding: 0 0.5em;
}

header > nav > .languages a {
  text-decoration: none;
  color: var(--header-text-color);
}

header > .content.flex-container {
  justify-content: center;
  align-items: center;
  height: 90vh;
}

header > .content a {
  color: var(--header-text-color);
  font-size: var(--header-text-font-size);
  font-weight: 700;
  line-height: var(--header-text-line-height);
}

header div:not(.overlay),
header nav {
  z-index: 1;
}

#header-text {
  color: var(--header-text-color);
  font-size: var(--header-text-font-size);
  line-height: var(--header-text-line-height);
}

header .icon-link {
  display: flex;
  align-items: center;
  padding: 1rem;
}

header .icon {
  margin-right: 0.5em;
  font-size: var(--header-text-font-size);
  height: var(--header-text-line-height);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #353f59;
  opacity: 0.6;
}

/*
  MAIN
*/

/*
  ABOUT US
*/
#about-us .content figure img {
  width: 100%;
  max-width: 650px;
  height: auto;
}

/*
  OUR TEAM
*/
#our-team .flex-container {
  flex-flow: row nowrap;
}

#our-team .content {
  overflow-x: auto;
}

#our-team figure:not(:first-child) {
  margin-left: 1rem;
}

#our-team figcaption p,
#our-team figcaption a {
  margin: 0.5em 0;
  color: #3f3f3f;
  font-size: var(--text-font-size);
  line-height: 1.25em;
}

#our-team .our-team-figcaption-name {
  color: #333;
}

/*
  LOCATION
*/
#location iframe {
  width: auto;
}

#location .location-info {
  margin-top: 2rem;
}

#location .location-info .flex-container {
  flex-flow: row nowrap;
  align-items: center;
}

#location img {
  font-size: 2em;
  height: 1em;
}

#location .location-info p,
#location .location-info a {
  margin: 0;
  margin-left: 1em;
  color: var(--text-important-color);
  font-size: var(--text-important-font-size);
  font-weight: bold;
  line-height: 2em;
}

#location .location-info > div:not(:first-child) {
  margin-top: 1rem;
}

#location .location-info-address-2 div {
  width: 25px;
}

/*
  OUR DOMAIN
*/
#our-domain input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

#our-domain ul {
  margin: 0;
  padding-left: 24px;
}

#our-domain h3 {
  margin-left: 0.4em;
}

#our-domain li {
  list-style-type: none;
  margin-top: 0.6em;
  margin-left: 0.6em;
  color: #7b7b7b;
  font-size: var(--text-our-domain-content-font-size);
  line-height: var(--text-our-domain-content-line-height);
}

#our-domain .our-domain-tab {
  width: 100%;
  overflow: hidden;
}

#our-domain .our-domain-tab:not(:first-child) {
  margin-top: 0.7rem;
}

#our-domain .our-domain-tab-label {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  cursor: pointer;
}

.our-domain-tab-label::after {
  content: "â¯";
  color: var(--text-important-color);
  text-align: center;
  width: 1em;
  height: 1em;
  margin-left: 0.5em;
  transition: all 0.35s;
}

input:checked + .our-domain-tab-label::after {
  transform: rotate(90deg);
}

.our-domain-tab-content {
  max-height: 0;
  color: #2c3e50;
  background: white;
  transition: all 0.35s;
}

input:checked ~ .our-domain-tab-content {
  max-height: 100vh;
}

/*
  CONTACT
*/
#contact {
  background-color: #edeef3;
  margin-top: 4rem;
  /* display: none; REMOVE LATER */
}

#contact .contact-title h3,
#contact .contact-title p {
  margin: 0;
  font-size: var(--text-contact-title-font-size);
  line-height: var(--text-contact-title-line-height);
  font-weight: bold;
  color: var(--text-contact-title-color);
}

#contact input,
#contact textarea {
  border: 0;
  padding: 1rem 0.5rem;
}

#contact input:focus,
#contact textarea:focus {
  outline: none;
  border-left: 2px solid var(--text-contact-content-color);
  box-shadow: 0 0 10px #719ece;
}

#contact input[type="submit"] {
  padding: 0.875em 1.333em;
  border-radius: 10px;
  background-color: #102e7b;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

#contact .contact-title {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 2rem 0;
}

#contact .contact-content-item:not(:first-child) {
  margin-top: 1rem;
}

#contact .contact-content-item:last-child {
  margin-top: 2rem;
  text-align: center;
}

#contact .contact-form-label {
  font-size: var(--text-contact-content-font-size);
  line-height: var(--text-contact-content-line-height);
  color: var(--text-contact-content-color);
}

#contact .contact-disclaimer {
  padding: 2rem 0;
  margin: 0;
  font-size: var(--text-contact-disclaimer-font-size);
  line-height: var(--text-contact-disclaimer-line-height);
  color: var(--text-contact-disclaimer-color);
}

/*
  FOOTER
*/

@media only screen and (min-width: 600px) {
  :root {
    --header-text-font-size: 2.25em; /* 36px */
    --header-text-line-height: 1.167em; /* 42px */
    --text-font-size: 1.25em; /* 20px */
    --text-line-height: 1.4em; /* 28px */
    --text-important-font-size: 1.5em; /* 24px */
    --text-important-line-height: 1.333em; /* 32px */
    --text-our-domain-content-font-size: 1.25em; /* 20px */
    --text-our-domain-content-line-height: 1.4em; /* 28px */
    --text-contact-title-font-size: 2.25em; /* 36px */
    --text-contact-title-line-height: 1.22em; /* 44px */
    --text-contact-content-font-size: 1.5em; /* 24px */
    --text-contact-content-line-height: 1.333em; /* 32px */
    --text-contact-disclaimer-font-size: 1.125em; /* 18px */
    --text-contact-disclaimer-line-height: 1.222em; /* 22px */
    --h1-font-size: 3em; /* 48px */
    --h1-line-height: 1.167em; /* 56px */
    --h2-font-size: 2.5em; /* 40px */
    --h2-line-height: 1.2em; /* 48px */
  }

  /*
    GLOBALS
  */
  .padded-wrapper {
    padding: 0 4rem;
  }

  /*
    HEADER
  */
  header {
    padding: 0 4em;
  }

  header > nav > .logo {
    width: 80px;
  }

  /*
    ABOUT US 
  */

  /*
    OUR TEAM
  */
  #our-team h2 {
    margin-bottom: 0;
  }

  #our-team .flex-container {
    flex-wrap: wrap;
  }

  #our-team .content figure {
    margin: 1.5rem 1.5rem 0 0;
  }

  /*
    LOCATION
  */
  #location iframe {
    height: calc(100vw / 2);
    max-height: 400px;
  }

  #location .location-info p,
  #location .location-info a {
    margin-left: 0.5em;
    line-height: 1.7em;
  }

  /*
    OUR DOMAIN
  */
  #our-domain li {
    margin-top: 0.4em;
  }

  /*
    CONTACT
  */
  #contact input,
  #contact textarea {
    font-size: var(--text-contact-content-font-size);
    line-height: var(--text-contact-content-line-height);
  }

  #contact .padded-wrapper {
    padding: 0 7rem;
  }
}

@media only screen and (min-width: 1200px) {
  :root {
    --text-font-size: 1.375em; /* 22px */
    --text-line-height: 1.455em; /* 32px */
    --text-important-font-size: 1.5em; /* 24px */
    --text-important-line-height: 1.286em; /* 31px */
    --text-our-domain-content-font-size: 1.25em; /* 20px */
    --text-our-domain-content-line-height: 1.455em; /* 29px */
    --h1-font-size: 4em; /* 64px */
    --h1-line-height: 1.156em; /* 74px */
    --h2-font-size: 3.5em; /* 56px */
    --h2-line-height: 1.43em; /* 64px */
  }

  /*
    GLOBALS
  */
  .padded-wrapper {
    padding: 0 12rem;
  }

  /*
    HEADER
  */
  header {
    padding: 0 12em;
  }

  /*
    ABOUT US
  */
  #about-us figure {
    margin-left: 2rem;
  }

  #about-us h2 {
    margin: 0.5em 0 0;
  }

  #about-us .content.flex-container {
    flex-direction: row-reverse;
  }

  #about-us .content > * {
    flex: 0 1 50%;
  }

  #about-us .content > figure img {
    max-width: 600px;
  }

  #about-us .content > div p:first-child {
    margin-top: 0;
  }

  /*
    OUR TEAM
  */
  #our-team .content figure {
    margin: 1.5rem 5.5rem 0 0;
  }

  #our-team .content figure:nth-child(2) {
    margin-right: 4.5rem;
  }

  /*
    LOCATION
  */
  #location h2 {
    margin-bottom: -62px;
  }

  /* flex:auto, flex-grow:5 */
  #location iframe {
    width: 100%;
    height: auto;
  }

  #location .content.flex-container {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  #location .location-info {
    width: -webkit-fill-available;
    margin-top: 4rem;
    padding-right: 2rem;
  }

  /*
    OUR DOMAIN
  */
  /*
  #our-domain::before {
    content: "";
    display: block;
    height: 100px;
    padding-top: 20px;
    border-left: 4px solid var(--h1-border-color);
  }
  */

  /*
    CONTACT
  */
  #contact .padded-wrapper {
    padding: 0;
    width: 600px;
    margin: 0 auto;
  }
}
